/* app css stylesheet */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

body{
  font-family: "Open Sans",open-sans,sans-serif;
  font-weight: 300;
}
body, .container{
  background: #303F9F;
}
.text-error{
  color: #F44336;
  font-weight: 400;
  padding: 0 40px 0 40px
}
.master-logout-button{
  background: #283593;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: block;
  position: absolute;
  top:10px;
  right: 10px;
  cursor: pointer;
}
.logo-container img{
  width:80px;
  height:80px;
  margin: 40px 0 40px 0;
}
.login-container{
  margin-top: 40px;
}
#login-container .md-primary{
  padding: 0 20px 0 20px;
}
#without-fb-button
{
  font-size:11px;
  color:#fff;
}
.form-code{
  color: #fff !important;
  width: 100%;
  padding: 0 40px 0 40px; 
}
.form-code md-content{
  background: #303F9F;
}
.home-background{
  width: 100%;
  height: 100%;
  color: #5f697a;
}
.home-header img{
  width:80px;
  height:80px;
  margin: 40px 0 40px 0;
}
.home-card{
  background: #fff;
  box-shadow: 0 1px 2px rgba(43,59,93,.29);
  margin: 0 20px 0 20px;
}
.home-card .logout{
  position: absolute;
  top: 136px;
  right: -5;  
}
.home-card h1{
  font-weight: 400;
  margin-bottom: 40px;
}

.home-card .user-info{
  width: 100%;
  text-align: center;
  padding-top:40px;
  background: #F3F3F5;
}
.home-card .user-photo {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.home-card .content-message{
  font-size:16px;
  padding: 10px 40px 10px 40px;
  text-align: center;
}
.code p, .green-text{
  color:#00E676;
}
.home-card .code p{
  margin: 0;
  border: 2px solid #00E676;
  padding: 10px 0 10px 0;
  font-weight: 400;
}
.home-card .goodluck{
  text-align: center;
  padding: 10px 0 20px 0;
}
.home-card .congratulations{
  width: 100%;
  background: #00E676;
  margin: 0 20px 0 20px;
  text-align: center;
}
.home-card .congratulations p{
  color:#fff;
  font-weight: 400;
}
.home-card .congratulations .title{
  font-size: 32px;
  margin-bottom: 0;
  padding:20px 0 0 0;
}
.home-card .congratulations .text{
  font-size: 18px;
  padding:0 0 40px 0;
}
.home-card .congratulations .text span{
  font-size: 22px;
  font-weight: 700;
}
.home-card .congratulations .short-code{
  
  color:#00C853;
  border: 1px solid #00C853;
  font-weight: 400;
  font-size:22px;
  padding: 10px 20px 10px 20px;
  margin: 20px 0 40px 0;
}
.text{
  color:#212121;
}

.stage, .winners{
  text-align: center;
}
.stage-container, .winners-container{
  display:inline-block;
}
.stage-header, .winners-header{
  background: #283593;
  box-shadow: 0 1px 2px rgba(43,59,93,.29);
  text-align: center;
}
.stage-header h1{
  color: #FFF;
  padding: 10px 40px 0 40px;
}
.stage-header p{
  color: #FFF;
  padding: 0 0 20px 0;
}
.stage-button{
  background: #2196F3;
  padding: 20px 0 20px 0;
  font-weight: 400;
  color:#fff;
  cursor: pointer;
}
.stage-list{
  margin: 20px 0 0 0;
}
.stage-list ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.stage-list .stage-list-item{
  text-align: left;
  padding: 0; 
  margin: 10px 0 0 0 ;
}
.stage-list .stage-list-item h3{
  font-size: 22px;
}

.stage-list .stage-list-item:first-child h3, .stage-list .stage-list-item:first-child h4{
  color:#FFF !important;
}

.stage-list .item-text h3, .stage-list .item-text h4{
  color:#2196F3;
  padding: 0;
  margin: 0;
}
.stage-list .item-text .list-item-number span{
  color: #00E676;
  font-size: 28px;
  font-weight: 400;
}
.stage-list .item-text .list-item-number{
  padding: 0 0 10px 0;
  border-bottom: 2px solid #283593;
}
.stage-list .item-text .cancel-button{
  margin: 20px 0 0 0;
}
.stage-list .item-text .cancel-button div{
  height:22px;
}
.stage-list .item-text .cancel-button a{
  font-size: 14px;
  background: #283593;
  color:#00E676 !important;
  text-decoration: none;
  padding: 10px;
  margin: 0;
  line-height:14px;
  float: right;
  cursor: pointer;
}
.stage-list .finalize-button
{
  margin: 40px 0 40px 0;
}
.winners-header h1{
  color: #FFF;
  padding:40px 80px 40px 80px;
  min-width: 400px;
}
.winners-item{
  text-align: left;
}
.winners-item ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.winners-item h3{
  color: #fff;
  border-bottom: 1px dashed #F3F3F5;
  padding: 20px 0 20px 0;
}
.winners-item ul{
  color: #fff !important;
}

.winners-item ul li span strong{
   color: #00E676 !important;
}
