<div class="home bg" layout="column" layout-align="center center">

  <div class="home-container bg">
    <h1 class="md-headline">{{vm.user.name}}</h1>

    <div ng-show="!vm.wins()" class="content md-body-1">
      <p>Aguarde o sorteio e torça para ganhar.</p>
      <p>Boa Sorte!</p>
    </div>

    <div class="congratulations" ng-show="vm.wins()" layout="column" layout-align="center center">
      <p class="title">Você ganhou! Parabéns!</p>
      <p class="text"><span>{{vm.user.award.name}}.</span></p>
    </div>
  </div>
  <md-button id="logout" md-theme="docs-dark" class="md-raised md-primary" logout>Sair</md-button>
</div>